.thank-you-page {
  /* background-image: url("../public/images/mountains-background.jpg"); */
  /* background-color: white; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(7, 123, 248);
  text-align: center;
  font-family: "Arial", sans-serif;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
}
